/* G R I D */

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

.grid div {
  /*background-color:rgba(0,0,0,0.04);*/
}

/* H E I G H T */

.height-2 {
	grid-row: span 2;
}

.height-3 {
	grid-row: span 3;
}

/* M O B I L E */

.width-1-12-m {
  grid-column: span 1;
}

.width-2-12-m {
  grid-column: span 2;
}

.width-3-12-m {
  grid-column: span 3;
}

.width-4-12-m {
  grid-column: span 4;
}

.width-5-12-m {
  grid-column: span 5;
}

.width-6-12-m {
  grid-column: span 6;
}

.width-7-12-m {
  grid-column: span 7;
}

.width-8-12-m {
  grid-column: span 8;
}

.width-9-12-m {
  grid-column: span 9;
}

.width-10-12-m {
  grid-column: span 10;
}

.width-11-12-m {
  grid-column: span 11;
}

.width-12-12-m {
  grid-column: span 12;
}

/* D E S K T O P / L A P T O P */

@media (min-width: 700px) {

  .grid {
    grid-gap: 2rem;
  }

  .width-1-12 {
    grid-column: span 1;
  }

  .width-2-12 {
    grid-column: span 2;
  }

  .width-3-12 {
    grid-column: span 3;
  }

  .width-4-12 {
    grid-column: span 4;
  }

  .width-5-12 {
    grid-column: span 5;
  }

  .width-6-12 {
    grid-column: span 6;
  }

  .width-7-12 {
    grid-column: span 7;
  }

  .width-8-12 {
    grid-column: span 8;
  }

  .width-9-12 {
    grid-column: span 9;
  }

  .width-10-12 {
    grid-column: span 10;
  }

  .width-11-12 {
    grid-column: span 11;
  }

  .width-12-12 {
    grid-column: span 12;
  }

 vars */
:root {
  --background-color: #4B0082;
  --body-color: #f5dddd;
}

body {
  margin: 0;  
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background: #0D3BE8;
  color: white;
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 1em;
  font-family: "Raleway"
}

h1{
	font-weight: 700;
	color: white;
}

h2, h3{
  color: var(--body-color);
}

h4 {
  color: var(--background-color);
}

p{
  color: #332735;
}

#wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

#main, #footer, #masthead {
  margin: 2em 2em 0;
}

#logo a {
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

#logo h1 {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 0;
}

#logo svg {
  margin-right: .25rem;
  height: 3.6rem;
  width: auto;
}

#topnav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex; 
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
}

#topnav ul {
  display: flex;
}

#topnav li {
  margin-right: 2em;
  margin-bottom: 0;
}

#topnav li:first-child {
  margin-right: auto;
}

#topnav li:last-child {
  margin-right: 0;
}

#topnav li a {
  text-decoration: none;
  font-size: 1.2rem;
}

/* INTRO */

#intro {
  display: flex;
  align-items: center;
  height: 70vh;
  width: 100%;
}

#work h3, #page h3 {

  letter-spacing: 1px;
  margin-bottom: 2rem;
}

#work h3 a, #page h3 a {
  color: var(--body-color);
  text-decoration: none;
}

.work-item {
  overflow: hidden;
  position: relative;
  width: 100%; 
}

.work-item .inner .work-inside {
  color: #fff;
  padding: 2rem;
  width: 100%;
  background-color: var(--body-color);
  text-align: right;
}

.work-item .inner .work-inside p:last-child {
  margin-bottom: 0;
}

.work-item .inner:hover .work-inside {
  opacity: 1;
}

.work-item img {
  display: block;
  width: 100%;
  height: auto;
}

/* PAGE */

#page {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.page-item .date-holder {
  margin-bottom: .25em;
}

.page-item img {
  display: block;
  width: 100%;
  height: auto;
}

.page-item .caption {
  font-size: .75rem;
  color: #666666;
  display: block;
  width: 100%;
  margin-top: .5rem;
  margin-bottom: 2rem;
  text-align: right;
}

.page-item .date {
  margin: 0;
  font-size: .85rem;
  padding: 0 4px;
  color: var(--background-color);
  display: inline-block;
  background-color: var(--body-color);
}

.page-item h2 a {
  color: var(--body-color);
  text-decoration-color: transparent; 
  transition: text-decoration-color .3s ease-in-out;
}

.page-item h2 a:hover {
  color: var(--body-color);
  text-decoration-color: var(--body-color); 
}

.page-item p a {
  color: var(--body-color);
  text-decoration-color: var(--body-color); 
}


/*FOOTER*/

#footer {
  padding: 2em;
  text-align: center;
  font-size: .85rem;
}

#footer p:last-child {
  margin-bottom: 0;
}

/*RESPONSIVE*/

/* for variable type sizing */
@media screen and (min-width: 320px) {
  body {
    font-size: calc(12px + 4 * ((100vw - 320px) / 960));
  }
}

@media all and (max-width: 699px) { 

  #intro-holder h1 {
    font-size: 2.2rem
  }

  .work-item .inner .work-inside {
    opacity: 1;
  }

}

@media all and (min-width: 700px) {

  #intro-holder h1 {
    font-size: 3.2rem
  }

  #intro {
    height: 70vh;
  }

  #intro-holder {
    padding: 0 5em;
  }

  body {
    font-size: 18px;
    
  }
}

